<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.zjcutils">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name="com.android.zjctools.permission.ZPermissionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/ZJCTheme.Permission" /> <!-- 选择器界面 -->

        <activity
            android:name="com.android.zjctools.display.ZDisplayMultiActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" /> <!-- 剪切界面 -->
        <activity
            android:name="com.android.zjctools.display.ZDisplaySingleActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" /> <!-- 剪切界面 -->

        <activity android:name="com.android.zjctools.appupdate.ZAppUpdateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/ZJCTheme.Translucent" ></activity>
        <activity
            android:name="com.android.zjctools.pick.ui.ZPickGridActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" /> <!-- 剪切界面 -->
        <activity
            android:name="com.android.zjctools.pick.ui.ZPickCropActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" /> <!-- 预览界面 -->
        <activity
            android:name="com.android.zjctools.pick.ui.ZPickPreviewActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.android.zjctools.pick.ZPickerProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/z_provider_paths" />
        </provider>

        <service android:name="com.android.zjctools.appupdate.ZUpdateService" />
        <provider
            android:name="com.android.zjctools.appupdate.ZAppInstallProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/z_app_update_provider_paths" />
        </provider>
    </application>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>