<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.zjctools">

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ZJCTheme">
        <activity android:name=".file.TestFileActivity"></activity>
        <activity android:name=".SelectActivity" />
        <activity android:name=".ToastActivity" />
        <activity android:name=".ninepicture.NinePictureActivity" />
        <activity android:name=".BottomWindowActivity" />
        <activity android:name=".display.DisplayMultiActivity" />
        <activity android:name=".display.DisplaySingleActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/ZJCTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>